In [1]:
import numpy as np
from scipy import signal
import pandas as pd
import glob
import os

In [5]:
data_path="C:\\Users\\AtteR\\Documents\\Capstone\\audio_processing\\Speeds for 18.2.22 recordings.txt"
data_df=pd.read_csv(data_path)
data_df.head(100)

,type,date time,latitude,longitude,accuracy(m),altitude(m),geoid_height(m),speed(m/s),bearing(deg),sat_used,sat_inview,name,desc
0,T,2022-02-18 12:47:26.144,60.382353,22.776870,8,36.987,NaN,0.00,NaN,8,43,20220218-144726,GPS Logger: 20220218-144726 - Jee
1,T,2022-02-18 12:47:27,60.382352,22.776821,5,51.237,NaN,0.23,61.0,7,43,NaN,NaN
2,T,2022-02-18 12:47:29,60.382349,22.776848,4,54.446,NaN,0.00,NaN,26,44,NaN,NaN
3,T,2022-02-18 12:47:30,60.382352,22.776850,5,53.619,NaN,0.00,NaN,26,44,NaN,NaN
4,T,2022-02-18 12:47:31,60.382349,22.776857,4,53.068,NaN,0.00,NaN,26,44,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,T,2022-02-18 12:49:02,60.382366,22.776739,10,53.783,NaN,0.00,NaN,23,44,NaN,NaN
96,T,2022-02-18 12:49:03,60.382366,22.776739,10,53.790,NaN,0.00,NaN,22,44,NaN,NaN
97,T,2022-02-18 12:49:04,60.382366,22.776739,10,53.793,NaN,0.00,NaN,22,44,NaN,NaN
98,T,2022-02-18 12:49:05,60.382367,22.776739,10,53.821,NaN,0.00,NaN,23,44,NaN,NaN
99,T,2022-02-18 12:49:06,60.382367,22.776739,10,53.834,NaN,0.00,NaN,23,44,NaN,NaN

In [3]:
print(len(speed_data_df))

3502

In [4]:
data_path="C:\\Users\\AtteR\\Documents\\Capstone\\audio_processing\\Snow 18.2"
files=glob.glob(data_path+"/*.wav")
print(files[0:5])

['C:\\Users\\AtteR\\Documents\\Capstone\\audio_processing\\Snow with speed\\2022_14_14_38-Jan-20.wav', 'C:\\Users\\AtteR\\Documents\\Capstone\\audio_processing\\Snow with speed\\2022_14_14_41-Jan-20.wav', 'C:\\Users\\AtteR\\Documents\\Capstone\\audio_processing\\Snow with speed\\2022_14_14_44-Jan-20.wav', 'C:\\Users\\AtteR\\Documents\\Capstone\\audio_processing\\Snow with speed\\2022_14_14_47-Jan-20.wav', 'C:\\Users\\AtteR\\Documents\\Capstone\\audio_processing\\Snow with speed\\2022_14_14_51-Jan-20.wav']

In [5]:
string_list=files[0].split("_")
date= "2022-01-20"
print(string_list[2],string_list[3],string_list[4].split("-")[0])

14 14 38

In [6]:
print(type(data_df["date time"][0]))
print(data_df["date time"][0])

<class 'str'>
2022-01-20 12:13:13

In [7]:
print(data_df["date time"][0]=="2022-01-20 12:13:13")

True

In [8]:
string_list=files[0].split("_")
date_time_from_filename= "2022-01-20 "+str(int(string_list[2])-2)+":"+string_list[3]+":"+string_list[4].split("-")[0]
print(date_time_from_filename)

2022-01-20 12:14:38

In [9]:
speeds=[]
for file_name,i in zip(files,range(0,len(files))):
    string_list=file_name.split("_")
    date_time_from_filename= "2022-01-20 "+str(int(string_list[2])-2)+":"+string_list[3]+":"+string_list[4].split("-")[0]
    for ii in range(len(data_df["date time"])):
        if data_df["date time"][ii]==date_time_from_filename:
            speed=data_df["speed(m/s)"][ii]
            identity=file_name.split("\\")[-1]
            speeds.append([identity,speed])

In [10]:
speeds_df=pd.DataFrame(speeds,columns=["id","speed(m/s)"])
speeds_df.head()

                         id  speed(m/s)
0  2022_14_14_38-Jan-20.wav        6.39
1  2022_14_14_41-Jan-20.wav        6.92
2  2022_14_14_44-Jan-20.wav        5.04
3  2022_14_14_47-Jan-20.wav        6.68
4  2022_14_14_51-Jan-20.wav        8.23

In [11]:
speeds_df.to_csv("C:\\Users\\AtteR\\Documents\\Capstone\\audio_processing\\Snow 18.2\\speeds.csv",index=False)